<ion-view view-title="Browse">
  <ion-content ng-controller="SampleController">
    <h1>Browse</h1>
    <button
      class="button"
      ng-click="scheduleEveryMinuteNotification()">
      Every Minute 1
    </button>
    <button
      class="button"
      ng-click="cancelAllNotifications()">
      Cancel All Notifications
    </button>
    <button
      class="button"
      ng-click="displayNotifications()">
      See all notifications
    </button>
    <button
      class="button"
      ng-click="scheduleEveryMinuteNotification()">
      Every Minute 1
    </button>
    <button
      class="button"
      ng-click="scheduleEveryMinuteNotification2()">
      Every Minute 2
    </button>
    <button
      class="button"
      ng-click="scheduleEveryHourNotification()">
      Every Hour 1
    </button>
    <button
      class="button"
      ng-click="scheduleEveryHourNotification2()">
      Every Hour 2
    </button>
    <button
      class="button"
      ng-click="scheduleEveryWeekNotification()">
      Every Week 1
    </button>
    <button
      class="button"
      ng-click="scheduleEveryWeekNotification2()">
      Every Week 2
    </button>

    <button
      class="button"
      ng-click="testFunc()">
      Test Func
    </button>

    <button
      class="button"
      ng-click="scheduleSpecificHourNotification()">
      specific hour
    </button>

    <div class="list">

      <label class="item item-input item-select">
        <div class="input-label">
          Lightsaber
        </div>
        <select>
          <option>Blue</option>
          <option selected>Green</option>
          <option>Red</option>
        </select>
      </label>

    </div>

  </ion-content>
</ion-view>
