<ion-view view-title="Welcome">
  <ion-content>
    <h1>Welcome to Prayer Companion!</h1>

    <!--<div class="container-fluid">-->
      <!--<h1>My First Bootstrap Page</h1>-->
      <!--<p>This is some text.</p>-->
      <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
          <!--.col-sm-6-->
        <!--</div>-->
        <!--<div class="col-xs-4">.col-sm-4</div>-->
        <!--<div class="col-xs-2">.col-sm-4</div>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
