<ion-view view-title="Welcome">
  <ion-content>
    <h1>Upward Leap</h1>
    <p>For me, prayer is an upward leap of the heart, an untroubled glance towards heaven, a cry of gratitude and love which I utter from the depths of sorrow as well as from the heights of joy.</p>
    <!--<div class="container-fluid">-->
      <!--<h1>My First Bootstrap Page</h1>-->
      <!--<p>This is some text.</p>-->
      <!--<div class="row">-->
        <!--<div class="col-xs-6">-->
          <!--.col-sm-6-->
        <!--</div>-->
        <!--<div class="col-xs-4">.col-sm-4</div>-->
        <!--<div class="col-xs-2">.col-sm-4</div>-->
      <!--</div>-->
    <!--</div>-->

  </ion-content>
</ion-view>
